@model IEnumerable<Vaccines_and_Travel_Clinic.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h3>Sales</h3>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <a class="btn btn-success pull-right" href="@Url.Action("Create")">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add Sale
        </a>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Customer Locale")
            @*@Html.DisplayNameFor(model => model.Customer.DisplayAddress)*@
        </th>
        <th>
            @Html.DisplayName("Location")
            @*@Html.DisplayNameFor(model => model.Location.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.DisplayAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
            <td class="text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog text-warning"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li>
                            <a href="@Url.Action("Details", new { id = item.ID })">
                                <span class="glyphicon glyphicon-comment"></span>
                                Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", new { id = item.ID })">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Edit
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Delete", new { id = item.ID })">
                                <span class="glyphicon glyphicon-remove"></span>
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
    </tr>
}

</table>
</div>
</div>